@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  font-feature-settings: 'calt'1;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}


.container {
  font-family: 'Inter', sans-serif;
  padding-right: 2%;
  padding-left: 2%;
}

.light {
  font-weight: 300;
}

.postBody {
  margin-top: 2%;
  margin-bottom: 5%;

  font-weight: 400;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px dashed grey;
}

.main {

  padding-top: 5%;
}

img {
  padding-top: 10px;
}

.navbar {
  font-size: 0.8rem;
}

.light {
  font-weight: 100;
}

html {
  font-size: 0.85rem;
}



@media(min-width:576px) {
  html {
    font-size: 0.85rem;
  }
}

@media(min-width:768px) {
  html {
    font-size: 0.9rem;
  }
}

@media(min-width:992px) {
  html {
    font-size: 1.0rem;
  }
}

@media(min-width:1200px) {
  html {
    font-size: 1.1rem;
  }
}